[Unit]
Description=Web service to allow control of an RGB led strip connected via GPIO

[Service]
User=pi
# The configuration file application.properties should be here:
# change this to your workspace
WorkingDirectory=/home/pi/src/rpi-rgb-app
# path to executable
ExecStart=python3 /home/pi/src/rpi-rgb-app/rgb_app.py
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
After=network.target
