[Unit]
Description=Web service to allow control of an RGB led strip connected via GPIO
After=network.target

[Service]
# Specify your username
User=pi
# Location of the rpi-rgb-app repository
WorkingDirectory=/home/pi/src/rpi-rgb-app
ExecStart=python3 rgb_app.py
SuccessExitStatus=143
TimeoutStopSec=10
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
