body {
  background: #222;
  text-align: center;
  color: #ccc;
  font-family: sans-serif;
}

div {
  padding: 0;
  margin: 0;
  border: 0;
}

input[type="text"].channel, input[type="text"].brightness {
  width: 32px;
  vertical-align: middle;
}

input[type="range"].channel, input[type="range"].brightness {
  width: 80%;
  vertical-align: middle;
}

input[type="button"], input[type="color"] {
  padding: 12px;
  background-color: #888;
  color: white;
  border: 1px solid #666;
}

label {
  padding-left: 8px;
  padding-right: 8px;
}

div.row {
  padding: 8px;
  background-color: #444;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  border: 1px solid #888;
}

div.section-header {
  background-color: inherit;
  text-align: center;
  vertical-align: middle;
  margin: 0;
  border: 0;
}

div.section-header > .header-cell {
  display: table-cell;
  width: auto;
}

div.section-header > .header-cell label {
  display: inline-block;
  width: 80%;
}

div.section-header > .ext-cell {
  display: table-cell;
  text-align: right;
  width: 10%;
}

input[type="button"].header-button {
  background-color: inherit;
  color: white;
  border: 0;
  font-size: 16pt;
}

.hidden {
  display: none;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

input[type="button"].togglebtn {
  width: 48px;
  height: 48px;
  font-size: 20pt;
  border-radius: 24px;
  padding: 0px !important;
  color: white;
}

.toggle-off {
  background-color: #c00 !important;
}

.toggle-on {
  background-color: #0c0 !important;
}

div#container {
  max-width: 320px;
  margin: auto;
}

div#power-container {
  margin-bottom: 12px;
  text-align: center;
}

div#power-container div {
  width: 48%;
  display: inline-block;
}

div#settings-container {
  /* overflow: auto;
  border: 1px solid #333;
  height: 100%; */
}

div.radio-list, div#divSequence {
  max-height: 360px;
  overflow: auto;
}

span.color-preview {
  display: inline-block;
  width: 24px;
  height: 16px;
  border: 1px solid white;
  margin-right: 12px;
}

div.list-item {
  text-align: left;
  vertical-align: middle;
}

label.list-item-label {
  display: block;
  width: 95%;
  vertical-align: middle;
  margin: 4px;
  padding: 4px;
}

input[type='radio']:checked + label {
  font-weight: bold;
  background-color: #666;
}

div.seq-item-preview {
  height: 8px;
  width: 100%;
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 0px;
  font-size: 0pt;
}

span.seq-subeffect {
  display: inline-block;
  height: 100%;
  min-width: 1%;
  padding: 0;
  margin: 0;
  border: 0;
}

div.table {
  display: table;
  width: 100%;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

div.tr {
  display: table-row;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

div.td {
  display: table-cell;
  padding: 0px;
  border: 0px;
  margin: 0px;
}

div.visible {
  display: inherit;
}

input.time {
  width: 40px;
}

.schedule {}
.color {}
.sequence {}

input#cpkColor {
  padding: 4px;
  height: 32px;
  width: 32px;
  margin: 0px;
  vertical-align: middle;
}

input#txtColor, input#txtSequence {
  width: 50%;
  height: 32px;
  min-width: 64px;
}

div#divPreview {
  margin-top: 8px;
  height: 12px;
}

div.sequence-list-item {
  margin: 4px;
  margin-bottom: 8px;
  padding: 4px;
  padding-right: 0px;
  text-align: left;
  background-color: #333;
}

div.sequence-list-item input.effect-duration {
  margin-left: 4px;
  margin-right: 4px;
  width: 64px;
  vertical-align: top;
  text-align: right;
  font-family: courier;
  font-size: 10pt;
}

div.sequence-list-item select {
  /*max-width: 80px;*/
  width: 120px;
}

div.sequence-list-item input.action-button {
  background-color: inherit;
  padding: 8px;
  border: 0;
}

div.sequence-list-item div.effect-def {
  text-align: left;
  margin-bottom: 4px;
}

div.sequence-list-item div.handle {
  vertical-align: middle;
  padding-left: 4px;
  padding-right: 4px;
  font-size: 8pt;
}
